<%- include('header') %>    
<div class="row">
    <div class="col-12">
        Website : <%= data.website %>
    </div>
    <div class="col-12">
        Service : <%= data.service %>
    </div>
    <div class="col-12">
        Username : <%= data.username %>
    </div>
    <div class="col-12">
        Descrription : <%= data.descrription %>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" onclick="copyPasswordToClipboard('<%= data.password %>')">Copy to clipboard</button>
        <a class="btn btn-secondary" href="/credentials">Back to list</a>
    </div>
</div>

<script>
    function copyPasswordToClipboard(password)  {
        navigator.clipboard.writeText(password);
    }
</script>
<%- include('footer') %>    