<%- include('header') %>    
<form action="/credentials/update/<%= id %>" method="post">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                Website: 
                <input type="text" class="form-control" name="website" value="<%= website %>">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                Service: 
                <input type="text" class="form-control" name="service"  value="<%= service %>">  
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                Username: 
                <input type="text" class="form-control" name="username"  value="<%= username %>">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                Password: 
                <input type="password" class="form-control" name="password"  value="<%= password %>">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                Description: 
                <input type="textarea" class="form-control" name="description"  value="<%= description %>">
            </div>
        </div>
        <div class="col-12 text-right">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Save">
            </div>
        </div>
    </div>
</form>
<%- include('footer') %>    